In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
df = pd.read_csv(r"D:\Coding\Learn_Python\Data\Training_Dataset_ME5201.csv")
df

     density  bulk_modulus    speed
0        818    1980000000  1449.28
1       1600    1870000000  1010.10
2       1830    2120000000  1002.51
3       1780    1720000000   919.54
4       1380    1780000000  1066.67
..       ...           ...      ...
995     1900    1940000000   945.63
996     1200    1060000000   883.00
997     1820    2260000000  1041.67
998     1660    1940000000  1010.10
999      488     939000000  1294.50

[1000 rows x 3 columns]

In [4]:
X = df.iloc[:,:-1]
y = df.iloc[:,2:]

In [5]:
X

     density  bulk_modulus
0        818    1980000000
1       1600    1870000000
2       1830    2120000000
3       1780    1720000000
4       1380    1780000000
..       ...           ...
995     1900    1940000000
996     1200    1060000000
997     1820    2260000000
998     1660    1940000000
999      488     939000000

[1000 rows x 2 columns]

In [6]:
y

       speed
0    1449.28
1    1010.10
2    1002.51
3     919.54
4    1066.67
..       ...
995   945.63
996   883.00
997  1041.67
998  1010.10
999  1294.50

[1000 rows x 1 columns]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
print(len(X_train), len(X_test))

800 200

In [8]:
df.describe()

           density  bulk_modulus        speed
count  1000.000000  1.000000e+03  1000.000000
mean   1233.425000  1.602401e+09  1123.256940
std     442.057335  3.995763e+08   282.279194
min     462.000000  9.200000e+08   670.020000
25%     865.000000  1.260000e+09   925.930000
50%    1250.000000  1.590000e+09  1058.200000
75%    1620.000000  1.940000e+09  1269.840000
max    2000.000000  2.300000e+09  2469.140000

In [25]:
scalar = MinMaxScaler()
scalar.fit(X_train)

MinMaxScaler()

In [26]:
X_train = scalar.transform(X_train)
X_test = scalar.transform(X_test)

In [27]:
pd.DataFrame(X_train).describe()

                0           1
count  800.000000  800.000000
mean     0.501402    0.497384
std      0.286648    0.293121
min      0.000000    0.000000
25%      0.252926    0.245830
50%      0.515605    0.492386
75%      0.752926    0.746193
max      1.000000    1.000000

In [28]:
pd.DataFrame(X_test).describe()

                0           1
count  200.000000  200.000000
mean     0.502276    0.481099
std      0.291230    0.276223
min      0.000000   -0.000725
25%      0.274870    0.245830
50%      0.492848    0.485134
75%      0.759428    0.697244
max      1.000000    0.992748

At this moment we have scale down our data into 0 and 1.

In [29]:
from sklearn.neural_network import MLPRegressor
from  sklearn import metrics

In [30]:
nn = MLPRegressor(hidden_layer_sizes = (1000), activation= 'logistic', max_iter= 2000, solver= 'lbfgs')
nn.fit(X_train, y_train)

c:\Users\setuthacker\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\setuthacker\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:546: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPRegressor(activation='logistic', hidden_layer_sizes=1000, max_iter=2000,
             solver='lbfgs')

In [31]:
mae1 = metrics.mean_absolute_error(y_train, nn.predict(X_train))
mse1 = metrics.mean_squared_error(y_train, nn.predict(X_train))
raq1 = metrics.r2_score(y_train, nn.predict(X_train))
print(mae1, mse1, raq1)

1.8515644636401567 7.174052838644692 0.9999133984248936

In [32]:
mae2 = metrics.mean_absolute_error(y_test, nn.predict(X_test))
mse2 = metrics.mean_squared_error(y_test, nn.predict(X_test))
raq2 = metrics.r2_score(y_test, nn.predict(X_test))
print(mae2, mse2, raq2)

3.7909849591365337 43.54687794247221 0.9993442353251056